h1{font-family: ’Trebuchet MS’, times, verdana;
	 font-style: italic;
	 color: blue;
}
h2{
	 color: lime;
}
h3{
	 text-align: center;
	 text-transform: uppercase;
	 color: red;
}
h4{
	 color: yellow;
}	 